.features {
	grid-area: auto / center-start / auto / center-end;

	margin: 15rem 0;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	grid-gap: 6rem;
    align-items: start;
}

.feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 1.5rem 2.5rem;

	&__icon {
        fill: $color-primary;
		height: 4.5rem;
		width: 4.5rem;
        grid-row: 1 / span 2;
        transform: translateY(-1rem);
	}

    &__text {
        font-size: 1.7rem;
        line-height: 1.6;
        margin-bottom: 2rem;
    }
}
