.footer {
    background-color: $color-secondary;
    grid-area: auto / full-start / auto / full-end;
    padding: 8rem;

}

.nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    align-items: center;

    &__link:link,
    &__link:visited {
        color: white;
        text-decoration: none;
        font-size: 1.4rem;
        font-family: $font-display;
        text-transform: uppercase;
        text-align: center;
        display: block;
        padding: 1.5rem;
        transition: all 0.2s;
    }

    &__link:hover,
    &__link:active {
        background-color: rgba(white, .05);
        transform: translateY(-3px);
    }
}

.copyright {
    color: $color-grey-light-2;
    font-size: 1.4rem;
    margin-top: 6rem;
    text-align: center;
    width: 70%;
    margin-inline: auto;
}