.homes {
	grid-area: auto / center-start / auto / center-end;
	margin: 15rem 0;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	grid-gap: 7rem;
}

.home {
	background-color: $color-grey-light-1;
	display: grid;
	grid-template-columns: repeat(2, 2fr);
    grid-row-gap: 3.5rem;

	&__img {
		width: 100%;
		grid-area: 1 / 1 / 2 / -1;
        z-index: 1;
	}

	&__like {
		fill: $color-primary;
		height: 2.5rem;
		width: 2.5rem;
		grid-area: 1 / 2 / 2 / 3;
        justify-self: end;
        margin: 1rem;
        z-index: 2;
	}

	&__name {
		grid-area: 1 / 1 / 2 / -1;
        font-family: $font-display;
        font-size: 1.6rem;
        padding: 1.25rem;
        background-color: $color-secondary;
        color: white;
        font-weight: 400;
        align-self: end;
        transform: translateY(50%);
        width: 80%;
        justify-self: center;
        text-align: center;
        z-index: 1;
	}

    &__location,
	&__rooms {
        margin-top: 2.5rem;
    }

	&__location,
	&__rooms,
	&__area,
	&__price {
		font-size: 1.3rem;
        display: flex;
        align-items: center;
        margin-left: 2.5rem;
        gap: 1rem;

		svg {
			fill: $color-primary;
			height: 2rem;
			width: 2rem;
		}
	}

	&__btn {
		grid-column: 1 / -1;
	}
}
