.realtors {
	background-color: $color-secondary;
	grid-area: auto / col-start 7 / auto / full-end;
	padding: 3rem;
	display: grid;
	align-content: center;
	justify-content: center;
	grid-row-gap: 2rem;
	justify-items: center;

	@media only screen and (max-width: $bp-medium) {
		grid-area: auto / 1 / auto / -1;
	}

	&__list {
		display: grid;
		grid-template-columns: min-content max-content;
		grid-gap: 5vh 2rem;
		align-items: center;

		@media only screen and (max-width: $bp-medium) {
			grid-template-columns: repeat(3, min-content max-content);
            grid-gap: 5vh 3rem;
		}

		@media only screen and (max-width: $bp-small) {
			grid-template-columns: min-content max-content;
			grid-gap: 5vh 2rem;
		}
	}

	&__img {
		width: 7rem;
		border-radius: 50%;
		display: block;
	}

	&__sold {
		text-transform: uppercase;
		color: $color-grey-light-2;
		margin-top: -0.3rem;
	}
}