.sidebar {
	background-color: $color-primary;
	grid-area: 1 / sidebar-start / -1 / sidebar-end;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: $bp-large) {
		grid-area: 1 / 1 / 2 / -1;
        justify-content: flex-end;
        align-items: center;
	}
}

.nav-btn {
	border: none;
	border-radius: 0;

	background-color: white;
	height: 0.2rem;
	width: 4.5rem;
    margin-top: 4rem;

    &::before,
    &::after {
        content: '';
        display: block;
        height: 0.2rem;
        width: 4.5rem;
        background-color: white;
    }

    &::before {
        transform: translateY(-1.5rem);
    }

    &::after {
        transform: translateY(1.5rem);
    }

    @media only screen and (max-width: $bp-large) {
		margin-top: 0;
        margin-right: 2rem;

        &::before {
        transform: translateY(-1.2rem);
    }

    &::after {
        transform: translateY(1rem);
    }
	}
}
