.story {
	&__pictures {
		background-color: $color-primary;
		grid-area: auto / full-start / auto / col-end 4;

		display: grid;
		grid-template-rows: repeat(6, 1fr);
		grid-template-columns: repeat(6, 1fr);
		align-items: center;

		background-image: linear-gradient(rgba($color-primary, 0.5), rgba($color-primary, 0.5)), url(../img/back.jpg);
		background-size: cover;

		@media only screen and (max-width: $bp-medium) {
			grid-area: auto / 1 / auto / -1;
            padding: 3rem;
		}
	}

	&__img--1 {
		width: 100%;
		grid-area: 2 / 2 / -2 / -2;
		box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);

		@media only screen and (max-width: $bp-medium) {
			grid-area: 1 / 1 / -1 / 5;
            width: 100%;
		}
	}

	&__img--2 {
		width: 115%;
		z-index: 1;
		grid-area: 4 / 4 / -1 / -1;
		box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);

        @media only screen and (max-width: $bp-medium) {
			grid-area: 1 / 4 / -1 / -1;
            width: 100%;
		}
	}

	&__content {
		background-color: $color-grey-light-1;
		grid-area: auto / col-start 5 / auto / full-end;

		padding: 6rem 8vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		@media only screen and (max-width: $bp-medium) {
			grid-area: 5 / 1 / 6 / -1;
		}
	}

	&__text {
		font-size: 1.5rem;
		font-style: italic;
		margin-bottom: 4rem;
	}
}
